<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/sass/boostrap.css">
    <link rel="stylesheet" href="../styles/css/main.css">
    <link rel="stylesheet" href="../styles/sass/movile.css">
    <link rel="stylesheet" href="../styles/sass/style.css">


    <title id="message-total">Message</title>
  </head>
  <body>
    <header class="header-flat">
      <div class="return">
        <div class="flex-rcc gap-1">
          <i class="bi bi-chevron-left" id="return-init"></i>
          Message
        </div>
        <i class="bi bi-text-right"></i>
      </div>
      <div class="search">
        <input type="text" name="" id="" placeholder="Search">
        <i class="bi bi-search"></i>
      </div>
    </header>

    <div class="contain-slider-C" id="message-ms">
      <!-- <div class="wall-B">
        <div class="img-text">
          <img src="../../assets/Rectangle 43.jpg" alt="">
          <div class="text-contain">
            <h2>Alias</h2>
            <h3>Come papas profecional</h3>
          </div>
        </div>
        <div class="time-num-message">
          <h4>14:03</h4>
          <h4 class="num">12</h4>
        </div>
      </div> -->
    </div>
    
    
    <footer class="movile">
      <ul class="nav nav-movil" id="nav-movil">
        <li >
          <a aria-current="page" href="#" id="nav-home">
            <i class="bi bi-house-door"></i>
            Home
          </a>
        </li>
        <li>
          <a  href="#" id="nav-message">
            <i class="bi bi-chat"></i>
            Message
          </a>
        </li>

        <li class="main">
          <a  href="#">
            <i class="bi bi-plus-circle"></i>
          </a>
        </li>

        <li>
          <a  href="#" id="nav-notification">
            <i class="bi bi-bell"></i>
            Notification
          </a>
        </li>
        <li>
          <a href="#" id="nav-profile">
            <i class="bi bi-person"></i>
            Profile
          </a>
        </li>
      </ul>
    </footer>

    <script src="../scripts/main.js" type="module"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/message.js" type="module"></script>
  </body>
</html>